.c-toast {
  font-size: 14px;
}
.c-toast__header {
  display: flex;
  margin-bottom: 4px;
}
.c-toast__text {
  width: 90%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  color: #259af5;
}
